.container
  = form_for(@appointment, url: admin_appointments_path) do |f|
    %h5 New Appointnment
    .input-field
      = f.select :user_id, @users.collect { |p| [ p.full_name, p.id ] }, placeholder: 'Select a client', required: true, include_blank: true
      = f.label :client, for: 'appointment[user_id]'
    %div
      = f.submit 'Start Appointment', class: 'btn btn-link'
