/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
body {
    font-size: 13px;
    max-width: 95%;
}

.main {
    /*background-image: url(eatright.png);*/
    height: 700px;
}

.side_bar {
    height: inherit;
    background-color: #dff0d8;
    opacity: 1.0;
    padding: 1em 1.5em 1em 2.5em
}

.side_bar .header{
    height: 5em;
    background-color: #ffffff;
    padding: 1em;
}

.side_bar .body {
    padding-top: 3em;
}

 button {
     align-content: center;
}

