// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-control { height: 22px;  padding: 3px 6px;}

.well {
  margin: 2px;
}
.page-title {
  text-align: center;
}
.evaluation-label {
  text-align: left;
  margin: 5px;
  padding-left: 0;
}