
<div class="home">
</div>
</br>
<div class="row">
  <div class="col-lg-3">
  </div>
  <%= button_to 'All Patients ', users_path, method: :get, class: 'btn btn-success btn-lg col-lg-6'%>
  <div class="col-lg-3">
  </div>
</div>
</br>
<div class="row">
  <div class="col-lg-3">
  </div>
  <div >
    <%= button_to 'New Appointment', new_appointment_path, method: :get, class: 'btn btn-success btn-lg col-lg-6'%>
  </div>
  <div class="col-lg-3">
  </div>
</div>
</br>
<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="btn btn-success btn-lg col-lg-6">
    Enviar questionario
  </div>
  <div class="col-lg-3">
  </div>
</div>

