<h1 style="text-align: center; font-size: 50px">WELCOME TO NUTRIHELPER</h1>

<%- unless current_user %>
  <%= button_to 'LOGIN', new_user_session_path, method: :get, class: [:btn, 'btn btn-lg btn-primary']  %>
  <br/>
  <%= button_to 'SIGN UP', new_user_registration_path, method: :get, class: [:btn, 'btn btn-lg btn-primary']  %>
<% end %>
