
<div class="home">
</div>
</br>
<div class="row">
  <div class="col-lg-3">
  </div>
  <%= button_to 'Clients', users_path, method: :get, class: 'btn btn-success btn-lg col-lg-6', style: "width: 500px%" %>
  <div class="col-lg-3">
  </div>
</div>
</br>
<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="btn btn-success btn-lg col-lg-6" style="width: 500px%">
    Nova Consulta
  </div>
  <div class="col-lg-3">
  </div>
</div>
</br>
<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="btn btn-success btn-lg col-lg-6" style="width: 500px%">
    Enviar questionario
  </div>
  <div class="col-lg-3">
  </div>
</div>

